<mat-card class="card-container">
  <mat-card-content>
    <div class="title">
      <img src="../assets/logo.png" alt="logo">
    </div>
    <div class="search-container">
      <button mat-raised-button color="accent" class="ml-3" (click)="openDialog()">
        <mat-icon>add</mat-icon>
        Thêm
      </button>
      <mat-slide-toggle class="ml-3" color="primary" [(ngModel)]="isChecked">
        Xem dạng lưới
      </mat-slide-toggle>
    </div>
  </mat-card-content>
</mat-card>

<!-- table container -->
<div *ngIf="!isChecked">
  <mat-card class="card-container">
    <mat-card-content>
      <table #table mat-table [dataSource]="users" cdkDropList [cdkDropListData]="users" (cdkDropListDropped)="drop($event)">

        <ng-container matColumnDef="avatar">
          <th mat-header-cell *matHeaderCellDef> Ảnh đại diện </th>
          <td mat-cell *matCellDef="let element">
            <img class="image-list" [src]="element.avatar" alt="image">
          </td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Tên tài khoản </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Tên </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="birthday">
          <th mat-header-cell *matHeaderCellDef> Ngày sinh </th>
          <td mat-cell *matCellDef="let element"> {{element.birthday | date:'yyyy-MM-dd'}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Hành động </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="openDialogUpdateUser(element)">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="openDialogDeleteUser(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>

<!-- Grid container -->
<ng-container *ngIf="isChecked">
  <div class="container" cdkDropListGroup>
    <ng-container *ngFor="let user of users;let i=index">
      <div class="categories-item" cdkDropList cdkDropListOrientation="horizontal"
        [cdkDropListData]="{user:user,index:i}" (cdkDropListDropped)="dropListDropped($event)">
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <mat-card class="card-grid-container" cdkDrag>
          <mat-card-content>
            <div class="img-title">
              <img class="image-grid" [src]="user.avatar" alt="image">
              <div class="name-title">
                <div class="name">{{user.name}}</div>
                <div class="user-name">{{user.username}}</div>
              </div>
            </div>
            <div class="user-info">
              <ul>
                <li>
                  <div class="info">
                    <mat-icon>cake</mat-icon>
                    <div class="ml-3">
                      {{ user.birthday | date: 'yyyy-MM-dd'}}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="info">
                    <mat-icon>email</mat-icon>
                    <div class="ml-3">
                      {{ user.email}}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="info">
                    <mat-icon>location_on</mat-icon>
                    <div class="ml-3">
                      {{ user.location}}
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="action-card">
              <button mat-icon-button color="primary" (click)="openDialogUpdateUser(user)">
                <mat-icon>create</mat-icon>
              </button>
              <button mat-icon-button color="accent" (click)="openDialogDeleteUser(user)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
  </div>
</ng-container>



<!-- Dialog -->
<ng-template #dialogRef let-data>
  <mat-card class="dialog">
    <mat-card-header class="header-dialog">
      <h3>{{data.type === 'update' ? 'Cập nhật người dùng' : 'Thêm người dùng'}}</h3>
    </mat-card-header>
    <mat-divider class="divider"></mat-divider>
    <mat-card-content>

      <form [formGroup]="userForm">
        <mat-form-field appearance="fill">
          <mat-label>Tên tài khoản</mat-label>
          <input matInput placeholder="Tên tài khoản chỉ chứa a-z, 0-9 và không có kí tự đặc biệt" required formControlName="username" maxlength="8">
          <mat-error *ngIf="userForm.controls.username.invalid">{{getErrorMessage('username')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Tên</mat-label>
          <input matInput placeholder="Nhập tên của bạn" formControlName="name" maxlength="20">
          <mat-error *ngIf="userForm.controls.name.invalid">{{getErrorMessage('name')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Ngày sinh</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="YYYY/MM/DD" required formControlName="birthday"
            [max]="birthdayRange.max" [min]="birthdayRange.min">
          <mat-error *ngIf="userForm.controls.birthday.invalid">{{getErrorMessage('birthday')}}</mat-error>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Địa chỉ</mat-label>
          <input matInput placeholder="Nhập địa chỉ của bạn" required formControlName="location" maxlength="200">
          <mat-error *ngIf="userForm.controls.location.invalid">{{getErrorMessage('location')}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="abc@example.com" required formControlName="email" maxlength="30">
          <mat-error *ngIf="userForm.controls.email.invalid">{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>

        <div>
          <mat-label>Giới tính</mat-label>
          <mat-radio-group>
            <mat-radio-button value="MALE" formControlName="gender" color="primary" checked>Nam</mat-radio-button>
            <mat-radio-button value="FEMALE" formControlName="gender" color="primary">Nữ</mat-radio-button>
          </mat-radio-group>
        </div>
      </form>

    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-action class="footer-dialog">
      <button mat-raised-button color="accent" (click)="data.type === 'update' ? updateUser(data.user) : addUser()"
        [disabled]="userForm.invalid">
        {{data.type === 'update' ? 'Cập nhật' : 'Thêm'}}
      </button>
      <button mat-raised-button color="secondary" class="ml-3" mat-dialog-close>
        Hủy
      </button>
    </mat-card-action>
  </mat-card>
</ng-template>





<!-- Dialog Confirm delete -->
<ng-template #dialogDelete let-data>
  <mat-card class="dialog-delete">
    <mat-card-header class="header-dialog">
      <h3>Xác nhận xóa người dùng</h3>
    </mat-card-header>
    <mat-card-content>
      <div class="title-delete">
        Xóa người dùng <i>{{data.username}}</i>?
      </div>
    </mat-card-content>
    <mat-card-action class="footer-dialog">
      <button mat-raised-button color="accent" (click)="deleteUser(data.username)">
        Xóa
      </button>
      <button mat-raised-button color="secondary" class="ml-3" mat-dialog-close>
        Hủy
      </button>
    </mat-card-action>
  </mat-card>
</ng-template>
